# Generated translations
src/i18n/locales/*.json
!src/i18n/locales/en.json

# Translation generation artifacts
scripts/tmp_translations
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
